<div *ngIf="initData">
  <mat-vertical-stepper #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Información del Cargo</ng-template>
        <div class="step-container">
          <mat-form-field>
            <mat-select placeholder="Cargo" [(value)]="payOption.cargo" name="cargo">
              <mat-option *ngFor="let item of initData.cargos | keyvalue" [value]="item.key">{{item.value}}</mat-option>
            </mat-select>
            <mat-hint align="start">Si tu cargo es Partner Coffee, selecciona Barista. Si trabajas en Support Center, selecciona la opción "Otro".</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Jornada laboral" [(value)]="payOption.jornada" name="jornada">
              <mat-option *ngFor="let item of initData.jornadas | keyvalue" [value]="item.key">{{item.value}}</mat-option>
            </mat-select>
            <mat-hint align="start">Esta es la cantidad de horas que realizas por semana, sin considerar horas extraordinarias. Si tu cargo no contempla límite de jornada (Art. 22), por favor selecciona "45".</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Tienda" [(value)]="payOption.tienda" name="tienda">
              <mat-option *ngFor="let item of initData.tiendas | keyvalue" [value]="item.key">{{item.value}}</mat-option>
            </mat-select>
            <mat-hint align="start">Si trabajas en Support Center, selecciónalo entre las opciones.</mat-hint>
          </mat-form-field>
        </div>
        <div class="btn-container">
          <button mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Información de la Remuneración Mensual</ng-template>
        <div class="step-container">
          <mat-form-field>
            <input matInput type="number" placeholder="Sueldo base (v.)" [(ngModel)]="payOption.sueldo" name="sueldo" required>
            <mat-hint align="start">El sueldo base es un valor objetivo que aparece sin descuentos en la segunda columna de la liquidación, bajo la glosa (v.o).</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ausencias justificadas" [(ngModel)]="payOption.ausenciasJustificadas" name="ausencias-justificadas">
            <mat-hint align="start">Si tuviste una licencia o certificados médicos presentados al empleador, por favor escribe cuántos días fueron.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ausencias injustificadas" [(ngModel)]="payOption.ausenciasInjustificadas" name="ausencias-injustificadas">
            <mat-hint align="start">Si tuviste ausencias sin justificación, por favor escribe cuántos días acá.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Horas extraordinarias" [(ngModel)]="payOption.horasExtras" name="horas-extras">
            <mat-hint align="start">Cantidad de horas trabajadas sobre la jornada semanal durante el mes.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Recargo Domingos" [(ngModel)]="payOption.recargoDomingos" name="recargo-domingos">
            <mat-hint align="start">Cantidad de horas trabajadas los domingos.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Recargo Feriados" [(ngModel)]="payOption.recargoFeriados" name="recargo-feriados">
            <mat-hint align="start">Cantidad de horas trabajadas en feriados.</mat-hint>
          </mat-form-field>
        </div>
        <div class="btn-container">
          <button mat-raised-button matStepperPrevious>Atras</button>
          <button mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Bonos Imponibles</ng-template>
        <div class="step-subtitle">Los siguientes son bonos sujetos a descuentos legales. No se consideran las asignaciones (como colación y movilización) en este item.</div>
        <div class="step-container">
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoNoche" name="bono-noche">Bono Noche</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoServicio" name="bono-servicio">Bono Servicio</mat-checkbox>
          </section>
          <section class="check-container indent-container">
            <mat-checkbox [(ngModel)]="payOption.bonoServicio50" name="bono-servicio-50">50%</mat-checkbox>
          </section>
          <section class="check-container indent-container">
            <mat-checkbox [(ngModel)]="payOption.bonoServicio100" name="bono-servicio-100">100%</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoFiestasPatrias" name="bono-fiestas-patrias">Aguinaldo de Fiestas Patrias</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoOperaciones" name="bono-operaciones">Bono Operaciones:</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.bonoOperacionesMonto" name="bono-operaciones-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoTrainer" name="bono-trainer">Bono Trainer:</mat-checkbox>
            <input matInput placeholder="Cantidad" [(ngModel)]="payOption.bonoTrainerCantidad" name="bono-trianer-cantidad">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoReserve" name="bono-reserve">Bono Reserve</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoRequisitosEspeciales" name="bono-requisitos-especiales">Tienda Requisitos Especiales</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoAltoFlujo" name="bono-alto-flujo">Bono Alto Flujo</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoReferidos" name="bono-referidos">Bono Referidos</mat-checkbox>
          </section>
          <section class="check-container indent-container">
            <mat-checkbox [(ngModel)]="payOption.bonoReferidos3" name="bono-referidos-3">3 y 5 meses:</mat-checkbox>
            <input matInput placeholder="Cantidad" [(ngModel)]="payOption.bonoReferidos3Cantidad" name="bono-referidos-3-cantidad">
          </section>
          <section class="check-container indent-container">
            <mat-checkbox [(ngModel)]="payOption.bonoReferidos9" name="bono-referidos-9">9 meses:</mat-checkbox>
            <input matInput placeholder="Cantidad" [(ngModel)]="payOption.bonoReferidos9Cantidad" name="bono-referidos-9-cantidad">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoPartner" name="bono-partner">Bono Partner</mat-checkbox>
          </section>
          <section class="check-container indent-container">
            <mat-checkbox [(ngModel)]="payOption.bonoPartnerAnnoAnterior" name="bono-partner-anno-anterior">50% año anterior:</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.bonoPartnerAnnoAnteriorMonto" name="bono-partner-anno-anterior-monto">
          </section>
          <section class="check-container indent-container">
            <mat-checkbox [(ngModel)]="payOption.bonoPartnerAnnoActual" name="bono-partner-anno-actual">50% año actual:</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.bonoPartnerAnnoActualMonto" name="bono-partner-anno-actual-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoOtro1" name="bono-otro-1">Otro 1:</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.bonoOtro1Monto" name="bono-otro-1-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoOtro2" name="bono-otro-2">Otro 2:</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.bonoOtro2Monto" name="bono-otro-2-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoOtro3" name="bono-otro-3">Otro 3:</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.bonoOtro3Monto" name="bono-otro-3-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.bonoSuplente" name="bono-suplente">Bono Suplente:</mat-checkbox>
            <input matInput placeholder="Horas" [(ngModel)]="payOption.bonoSuplenteCantidad" name="bono-suplente-cantidad">
          </section>
        </div>
        <div class="btn-container">
          <button mat-raised-button matStepperPrevious>Atras</button>
          <button mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Asignaciones No Imponibles</ng-template>
        <div class="step-subtitle">Los siguientes son bonos sujetos a descuentos legales. No se consideran las asignaciones (como colación y movilización) en este item.</div>
        <div class="step-container">
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionColacion" name="asignacion-colacion">Colación</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionMovilizacion" name="asignacion-movilizacion">Movilización</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionCargas" name="asignacion-cargas">Cargas Familiares:</mat-checkbox>
            <input matInput placeholder="Cantidad" maxlength="10" size="10" [(ngModel)]="payOption.asignacionCargasCantidad" name="asignacion-cargas-cantidad">
            <input matInput placeholder="Monto" maxlength="10" size="10" [(ngModel)]="payOption.asignacionCargasMonto" name="asignacion-cargas-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionTransporte" name="asignacion-transporte">Asignación Especial de Transporte</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.asignacionTransporteMonto" name="asignacion-transporte-monto">
          </section>
          <mat-hint align="start">(mamás, trabajadores/as de Aeropuerto, etc).</mat-hint>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionSalaCuna" name="asignacion-sala-cuna">Asignación Sala Cuna (cuidadora)</mat-checkbox>
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionOtro1" name="asignacion-otro-1">Otra Asignación 1</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.asignacionOtro1Monto" name="asignacion-otro-1-monto">
          </section>
          <section class="check-container">
            <mat-checkbox [(ngModel)]="payOption.asignacionOtro2" name="asignacion-otro-2">Otra Asignación 2</mat-checkbox>
            <input matInput placeholder="Monto" [(ngModel)]="payOption.asignacionOtro2Monto" name="asignacion-otro-2-monto">
          </section>
        </div>
        <div class="btn-container">
          <button mat-raised-button matStepperPrevious>Atras</button>
          <button mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Descuentos</ng-template>
        <div class="step-subtitle">Nuestra liquidación incluye también una serie de descuentos legales y electivos.</div>
        <div class="step-container">
          <section class="field-container">
            <h2>¿A qué AFP estás afiliado?</h2>
            <mat-radio-group [(value)]="payOption.afp" name="afp">
              <mat-radio-button *ngFor="let item of initData.afps | keyvalue" [value]="item.key">{{item.value}}</mat-radio-button>
            </mat-radio-group>
            <hr noshade/>
          </section>
          <section class="field-container">
            <h2>¿Tienes préstamos con la Caja de Compensación?</h2>
            <input matInput placeholder="Prestamo 1" [(ngModel)]="payOption.prestamos1" name="prestamo-1">
            <input matInput placeholder="Prestamo 2" [(ngModel)]="payOption.prestamos2" name="prestamo-2">
            <input matInput placeholder="Prestamo 3" [(ngModel)]="payOption.prestamos3" name="prestamo-3">
            <hr noshade/>
          </section>
          <section class="field-container">
            <h2>¿Tienes algún descuento por planilla?</h2>
            <input matInput placeholder="Total Descuento 1" [(ngModel)]="payOption.descuentos1" name="descuento-1">
            <input matInput placeholder="Total Descuento 2" [(ngModel)]="payOption.descuentos2" name="descuento-2">
            <input matInput placeholder="Total Descuento 3" [(ngModel)]="payOption.descuentos3" name="descuento-3">
            <hr noshade/>
          </section>
          <mat-form-field>
            <input matInput placeholder="¿Tienes el seguro médico Vida Security?" [(ngModel)]="payOption.cuotaSeguro" name="cuota-seguro">
            <mat-hint align="start">Ingresa el total de la cuota.</mat-hint>
          </mat-form-field>
          <section class="field-container">
            <h2>¿Estás sindicalizado?</h2>
            <mat-radio-group [(value)]="payOption.cuotaSindical" name="cuota-sindical">
              <mat-radio-button value="si">Si</mat-radio-button>
              <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
            <hr noshade/>
            <small>Si pone sí, debe consultarse por Cuota extraordinaria, debiendo escribirse el monto manualmente.</small>
          </section>
          <section class="field-container">
            <h2>¿Tienes algúna cuota sindical extraordinaria?</h2>
            <input matInput placeholder="Total Cuota Extraordinaria 1" [(ngModel)]="payOption.cuotaExtraordinaria1" name="cuota-extraordinaria-1">
            <input matInput placeholder="Total Cuota Extraordinaria 2" [(ngModel)]="payOption.cuotaExtraordinaria2" name="cuota-extraordinaria-2">
            <input matInput placeholder="Total Cuota Extraordinaria 3" [(ngModel)]="payOption.cuotaExtraordinaria3" name="cuota-extraordinaria-3">
            <hr noshade/>
            <small>Por ejemplo, algún préstamo, uso de gimnasio, entradas al cine, servicio oftalmológicos o dentales, etc.</small>
          </section>
          <mat-form-field>
            <input matInput placeholder="Ahorro CCAF" [(ngModel)]="payOption.ahorro" name="ahorro">

          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Total Descuento Horas" [(ngModel)]="payOption.descuentoHoras" name="descuento-horas">
            <mat-hint align="start">Si tienes un descuento de horas por retirarte antes, por llegar después del inicio de turno, o por un permiso especial sin remuneración, pon acá la cantidad de horas.</mat-hint>
          </mat-form-field>
        </div>
        <div class="btn-container">
          <button mat-raised-button matStepperPrevious>Atras</button>
          <button mat-raised-button (click)="getResult()">Generar</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
