<mat-vertical-stepper #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Información del Cargo</ng-template>
      <div class="step-container">
        <mat-form-field>
          <mat-select placeholder="Cargo">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          <mat-hint align="start">Si tu cargo es Partner Coffee, selecciona Barista. Si trabajas en Support Center, selecciona la opción "Otro".</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Jornada laboral">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          <mat-hint align="start">Esta es la cantidad de horas que realizas por semana, sin considerar horas extraordinarias. Si tu cargo no contempla límite de jornada (Art. 22), por favor selecciona "45".</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Tienda">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          <mat-hint align="start">Si trabajas en Support Center, selecciónalo entre las opciones.</mat-hint>
        </mat-form-field>
      </div>
      <div class="btn-container">
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Información de la Remuneración Mensual</ng-template>
      <div class="step-container">
        <mat-form-field>
          <input matInput placeholder="Sueldo base (v.)">
          <mat-hint align="start">El sueldo base es un valor objetivo que aparece sin descuentos en la segunda columna de la liquidación, bajo la glosa (v.o).</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ausencias justificadas">
          <mat-hint align="start">Si tuviste una licencia o certificados médicos presentados al empleador, por favor escribe cuántos días fueron.</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ausencias injustificadas">
          <mat-hint align="start">Si tuviste ausencias sin justificación, por favor escribe cuántos días acá.</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Horas extraordinarias">
          <mat-hint align="start">Cantidad de horas trabajadas sobre la jornada semanal durante el mes.</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Recargo Domingos">
          <mat-hint align="start">Cantidad de horas trabajadas los domingos.</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Recargo Feriados">
          <mat-hint align="start">Cantidad de horas trabajadas en feriados.</mat-hint>
        </mat-form-field>
      </div>
      <div class="btn-container">
        <button mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Bonos Imponibles</ng-template>
      <div class="step-subtitle">Los siguientes son bonos sujetos a descuentos legales. No se consideran las asignaciones (como colación y movilización) en este item.</div>
      <div class="step-container">
        <section class="check-container">
          <mat-checkbox>Bono Noche</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Servicio</mat-checkbox>
        </section>
        <section class="check-container indent-container">
          <mat-checkbox>50%</mat-checkbox>
        </section>
        <section class="check-container indent-container">
          <mat-checkbox>100%</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Aguinaldo de Fiestas Patrias</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Operaciones</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Reserve</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Tienda Requisitos Especiales</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Alto Flujo</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Referidos</mat-checkbox>
        </section>
        <section class="check-container indent-container">
          <mat-checkbox>3 y 5 meses:</mat-checkbox>
          <input matInput placeholder="Cantidad">
        </section>
        <section class="check-container indent-container">
          <mat-checkbox>9 meses:</mat-checkbox>
          <input matInput placeholder="Cantidad">
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Partner</mat-checkbox>
        </section>
        <section class="check-container indent-container">
          <mat-checkbox>50% año anterior:</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <section class="check-container indent-container">
          <mat-checkbox>50% año actual:</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <section class="check-container">
          <mat-checkbox>Otro 1:</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <section class="check-container">
          <mat-checkbox>Otro 2:</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <section class="check-container">
          <mat-checkbox>Otro 3:</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <section class="check-container">
          <mat-checkbox>Bono Suplente:</mat-checkbox>
          <input matInput placeholder="Horas">
        </section>
      </div>
      <div class="btn-container">
        <button mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Bonos Imponibles</ng-template>
      <div class="step-subtitle">Los siguientes son bonos sujetos a descuentos legales. No se consideran las asignaciones (como colación y movilización) en este item.</div>
      <div class="step-container">
        <section class="check-container">
          <mat-checkbox>Colación</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Movilización</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Cargas Familiares:</mat-checkbox>
          <input matInput placeholder="Cantidad" maxlength="10" size="10">
          <input matInput placeholder="Monto" maxlength="10" size="10">
        </section>
        <section class="check-container">
          <mat-checkbox>Asignación Especial de Transporte</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <mat-hint align="start">(mamás, trabajadores/as de Aeropuerto, etc).</mat-hint>
        <section class="check-container">
          <mat-checkbox>Asignación Sala Cuna (cuidadora)</mat-checkbox>
        </section>
        <section class="check-container">
          <mat-checkbox>Otra Asignación 1</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
        <section class="check-container">
          <mat-checkbox>Otra Asignación 2</mat-checkbox>
          <input matInput placeholder="Monto">
        </section>
      </div>
      <div class="btn-container">
        <button mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Descuentos</ng-template>
      <div class="step-subtitle">Nuestra liquidación incluye también una serie de descuentos legales y electivos.</div>
      <div class="step-container">
        <section class="field-container">
          <h2>¿A qué AFP estás afiliado?</h2>
          <mat-radio-group>
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
          <hr noshade/>
        </section>
        <section class="field-container">
          <h2>¿Tienes préstamos con la Caja de Compensación?</h2>
          <input matInput placeholder="Prestamo 1">
          <input matInput placeholder="Prestamo 2">
          <input matInput placeholder="Prestamo 3">
          <hr noshade/>
        </section>
        <section class="field-container">
          <h2>¿Tienes algún descuento por planilla?</h2>
          <input matInput placeholder="Total Descuento 1">
          <input matInput placeholder="Total Descuento 2">
          <input matInput placeholder="Total Descuento 3">
          <hr noshade/>
        </section>
        <mat-form-field>
          <input matInput placeholder="¿Tienes el seguro médico Vida Security? ">
          <mat-hint align="start">Ingresa el total de la cuota.</mat-hint>
        </mat-form-field>
        <section class="field-container">
          <h2>¿Estás sindicalizado?</h2>
          <mat-radio-group>
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
          <hr noshade/>
          <small>Si pone sí, debe consultarse por Cuota extraordinaria, debiendo escribirse el monto manualmente.</small>
        </section>
        <section class="field-container">
          <h2>¿Tienes algúna cuota sindical extraordinaria?</h2>
          <input matInput placeholder="Total Cuota Extraordinaria 1">
          <input matInput placeholder="Total Cuota Extraordinaria 2">
          <input matInput placeholder="Total Cuota Extraordinaria 3">
          <hr noshade/>
          <small>Por ejemplo, algún préstamo, uso de gimnasio, entradas al cine, servicio oftalmológicos o dentales, etc.</small>
        </section>
        <mat-form-field>
          <input matInput placeholder="Total Descuento Horas">
          <mat-hint align="start">Si tienes un descuento de horas por retirarte antes, por llegar después del inicio de turno, o por un permiso especial sin remuneración, pon acá la cantidad de horas.</mat-hint>
        </mat-form-field>
      </div>
      <div class="btn-container">
        <button mat-raised-button matStepperPrevious>Atras</button>
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
