.header-info {
  display: table;
  width: 100%;
}

.header-info > div {
  border-radius: 5px;
  border: 1px solid #555;
  display: table-cell;
  font-size: 0.8rem;
  padding: 5px;
}

.header-info > div:nth-child(2) {
  border: 0px;
}

.header-info > div:nth-child(3) {
  text-align: center;
  padding: 5px;
}

.header-info > div:nth-child(3) > div {
  padding: 2px;
}

.mini {
  font-size: 0.65rem;
}

.header-title {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.header-sumary {
  border-radius: 5px;
  border: 1px solid #555;
  margin-bottom: 15px;
}

.header-sumary table {
  width: 100%;
  border-collapse: collapse;
}

.header-sumary table th {
  text-align: left;
}

/* TABLA GENERICA */
td, th {
  font-size: 0.8rem;
  /*font-weight: 400;*/
  color: rgba(0,0,0,.87);
  padding : 0.2rem;
}

.table-review {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #555;
  margin-bottom: 20px;
}

/* TABLA REVIEW */
.table-review td,
.table-review th {
  border-right: 1px solid #555;
}

.table-review thead th {
  border-bottom: 1px solid #555;
}

.table-review tbody th {
  text-align: left;
  text-transform: uppercase;
}

.table-review tbody td:not(:first-child) {
  text-align: right;
}

.table-review tbody td:nth-child(2) {
  text-align: right;
  font-size: 0.7rem;
}

.table-review tfoot td {
  border-top: 1px solid #555;
}

.table-review tfoot td:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.table-review tfoot td:not(:first-child) {
  text-align: right;
}

.subtotal {
  float: left;
  text-transform: none;
}

.total {
  float: right;
  font-weight: bold;
  text-transform: none;
/*  text-transform: uppercase;*/
}


.pay-roll {
  padding: 15px;
}

.pay-roll-title {
  background-color: #3e7f19;
  color: #fff;
  font-size: 1.4rem;
  padding: 14px !important;
  height: 24px !important;
}


