<div *ngIf="enabled && initData && initAmounts">
<div class="pay-roll-title">
  Liquidacion
</div>
<div class="pay-roll">
<table>
  <tr>
    <td>
      <div class="info" style="margin-right: 15px;">
        <div>Starbucks Coffee Chile S.A.</div>
        <div>96.690.980-3</div>
        <div class="mini">Alonso de Cordoba #5670 P11 Las Condes</div>
      </div>
    </td>
    <td>
      <div class="info">
        <div class="mini">Liquidacion de: 06/2017</div>
        <div style="padding: 7px; text-align: center;">Junio de 2017</div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-size: 2rem; text-align: center;">Liquidación de Remuneraciones</td>
  </tr>
</table>
<table class="table-header">
  <tbody>
    <tr>
      <td>Cargo</td>
      <td colspan="3">{{initData.cargos[payOption.cargo]}}</td>
    </tr>
    <tr>
      <td>Tienda</td>
      <td colspan="3">{{initData.tiendas[payOption.tienda]}}</td>
    </tr>
    <tr>
      <td>Días trabajados</td>
      <td>{{payRoll.diasTrabajos}}</td>
      <td>Valor hora</td>
      <td>{{payRoll.valorHora | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Horas base</td>
      <td>{{payOption.jornada}}</td>
      <td>Valor hora extra</td>
      <td>{{payRoll.valorHoraExtra | cl:'currency'}}</td>
    </tr>
  </tbody>
</table>

<table class="table-review">
  <thead>
    <tr>
      <td>Detalle</td>
      <td>v.o.</td>
      <td>Haberes</td>
      <td>Descuentos</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Haberes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Sueldo Base</td>
      <td>{{payOption.sueldo | cl:'currency'}}</td>
      <td>{{payRoll.sueldo | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Descuento Horas No Trabajadas</td>
      <td>{{payOption.descuentoHoras | cl:'decimal'}}</td>
      <td>{{payRoll.descuentoHorasMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Horas Extras 50%</td>
      <td>{{payOption.horasExtras | cl:'decimal'}}</td>
      <td>{{payRoll.horasExtrasMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Recargo Domingos</td>
      <td>{{payOption.recargoDomingos | cl:'decimal'}}</td>
      <td>{{payRoll.recargoDomingosMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Recargo Feriado (Hora Extra Feriado)</td>
      <td>{{payOption.recargoFeriados | cl:'decimal'}}</td>
      <td>{{payRoll.recargoFeriadosMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Noche</td>
      <td></td>
      <td>{{payRoll.bonoNocheMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Servicio</td>
      <td></td>
      <td>{{payRoll.bonoServicioMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Operaciones</td>
      <td></td>
      <td>{{payRoll.bonoOperacionesMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Reserve</td>
      <td></td>
      <td>{{payRoll.bonoReserveMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Tienda Requisitos Especiales</td>
      <td></td>
      <td>{{payRoll.bonoRequisitosEspecialesMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Alto Flujo</td>
      <td></td>
      <td>{{payRoll.bonoAltoFlujoMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Partner</td>
      <td></td>
      <td>{{payRoll.bonoPartnerMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Barista Trainer</td>
      <td></td>
      <td>{{payRoll.bonoTrainerMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Referidos</td>
      <td></td>
      <td>{{payRoll.bonoReferidosMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Bono Suplente</td>
      <td>{{payOption.bonoSuplenteCantidad | cl:'decimal'}}</td>
      <td>{{payRoll.bonoSuplenteMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Aguinaldo Fiestas Patrias</td>
      <td></td>
      <td>{{payRoll.bonoFiestasPatriasMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Otro (Nombre)</td>
      <td></td>
      <td>{{payRoll.bonoOtrosMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Gratificación</td>
      <td></td>
      <td>{{payRoll.gratificacionMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <th>Otros Haberes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Colación</td>
      <td></td>
      <td>{{payRoll.asignacionColacionMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Movilización</td>
      <td></td>
      <td>{{payRoll.asignacionMovilizacionMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Asignación Especial Movilización</td>
      <td></td>
      <td>{{payRoll.asignacionTransporteMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Asignación Sala Cuna</td>
      <td></td>
      <td>{{payRoll.asignacionSalaCunaMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Otra asignación 1</td>
      <td></td>
      <td>{{payRoll.asignacionOtro1Monto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Otra asignación 2</td>
      <td></td>
      <td>{{payRoll.asignacionOtro2Monto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <th>Asignaciones Familiares</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Asignaciones Familiares Simple</td>
      <td></td>
      <td>{{payRoll.asignacionCargasMonto | cl:'currency'}}</td>
      <td></td>
    </tr>
    <tr>
      <th>Descuentos Legales</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>{{initData.afps[payOption.afp]}}</td>
      <td>{{getInitAmounts('afps') | cl:'percent'}}</td>
      <td></td>
      <td>{{payRoll.afpMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Fonasa</td>
      <td>{{getInitAmounts('isapre')}}%</td>
      <td></td>
      <td>{{payRoll.isapreMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Seguro de Cesantía</td>
      <td>{{getInitAmounts('seguroCesantia')}}%</td>
      <td></td>
      <td>{{payRoll.seguroCesantiaMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Exento de impuesto</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Otros Descuentos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Cuota Sindical</td>
      <td></td>
      <td></td>
      <td>{{payRoll.cuotaSindicalMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Cuota Sindical Extraordinaria</td>
      <td></td>
      <td></td>
      <td>{{payRoll.cuotaExtraordinariaMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Préstamos CCAF</td>
      <td></td>
      <td></td>
      <td>{{payRoll.prestamosMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Anticipo de Sueldo</td>
      <td></td>
      <td></td>
      <td>{{payRoll.anticipioMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Seguro médico</td>
      <td></td>
      <td></td>
      <td>{{payRoll.cuotaSeguroMonto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Otros descuentos por planilla 1</td>
      <td></td>
      <td></td>
      <td>{{payRoll.descuentos1Monto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Otros descuentos por planilla 2</td>
      <td></td>
      <td></td>
      <td>{{payRoll.descuentos2Monto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Otros descuentos por planilla 3</td>
      <td></td>
      <td></td>
      <td>{{payRoll.descuentos3Monto | cl:'currency'}}</td>
    </tr>
    <tr>
      <td>Ahorro CCAF</td>
      <td></td>
      <td></td>
      <td>{{payRoll.ahorroMonto | cl:'currency'}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Totales</td>
      <td></td>
      <td>{{payRoll.totalHaberes + payRoll.totalHaberesOtros | cl:'currency'}}</td>
      <td>{{payRoll.totalDescuentos + payRoll.totalDescuentosOtros | cl:'currency'}}</td>
    </tr>
  </tfoot>
</table>

<table class="table-footer">
  <tbody>
    <tr>
      <td>Alcance liquido</td>
      <td>{{payRoll.totalHaberes + payRoll.totalHaberesOtros - payRoll.totalDescuentos | cl:'currency'}}</td>
      <td>Liquido a pagar</td>
      <td>{{payRoll.totalHaberes + payRoll.totalHaberesOtros - payRoll.totalDescuentos - payRoll.totalDescuentosOtros | cl:'currency'}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
